<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.png" alt="Logo Sistema Académico Alternativa" class="mb-5 w-6rem flex-shrink-0">                
                    <div class="text-900 text-3xl font-medium mb-3">Sistema Académico Alternativa</div>
                </div>

                <div>
                    <span class="p-float-label" >
                        <input id="username" type="text" [(ngModel)]="username" pInputText class="w-full p-3 md:w-30rem" >
                        <label for="username" class="block text-500 font-medium mb-2">Usuario</label>
                    </span>
                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                    
                    </div>
                    <span class="p-float-label" >
                        <p-password id="password" [(ngModel)]="password" [feedback]="false" [toggleMask]="true" inputStyleClass="w-full p-3 md:w-30rem"></p-password>
                        <label for="password" class="block text-500 font-medium mb-2">Contraseña</label>
                    </span>
              
                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                       
                    </div>
                    
                    <button pButton pRipple label="Iniciar sesión" class="w-full p-3 text-xl" (click)="login()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
