<div class="layout-topbar" style="background-color: #4FB35E;">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-minedu' : 'logo-minedu'}}.png" alt="logo" class="style-logo">  
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button> -->
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Perfil</span>

        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/auth/access'">
            <i class="pi pi-sign-out"></i>
            <span>Salir</span>
        </button>
    </div>
</div>