<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Resoluciones Ministeriales </h5>
			<p-table #dt1 [value]="resoluciones" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['resolucion_ministerial','codigo','descripcion']" responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<!-- <button pButton label="Limpiar" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
						</span>
						<button pButton pRipple label="Agregar Resolución" icon="pi pi-save" class="p-button-success p-button-sm mr-2 mb-2"></button>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="min-width: 12rem">
							
							<div class="flex justify-content-between align-items-center">
								RM
								<!-- <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter> -->
							</div>
						</th>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Código
								<!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
							</div>
						</th>
                        <th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Descripción
								<!-- <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter> -->
							</div>
						</th>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Fecha Registro
								<!-- <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter> -->
							</div>
						</th>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Fecha Modificación
								<!-- <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter> -->
							</div>
						</th>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Fecha Resolución
								<!-- <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter> -->
							</div>
						</th>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Estado
							</div>
						</th>
                        <th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Opciones
							</div>
						</th>
					</tr>
				</ng-template>	
				<ng-template pTemplate="body" let-resolucion>
					<tr>
						<td>
							{{resolucion.resolucion_ministerial}}
						</td>
						<td>
							{{resolucion.codigo}}
						</td>
						<td>
							{{resolucion.descripcion}}
						</td>
						<td>
							{{resolucion.fecha_registro | date: 'MM/dd/yyyy'}}
						</td>
                        <td>
							{{resolucion.fecha_modificacion | date: 'MM/dd/yyyy'}}
						</td>
                        <td>
							{{resolucion.fecha_resolucion | date: 'MM/dd/yyyy' }}
						</td>
						<td>
							<p-inputSwitch [(ngModel)]="resolucion.activo"></p-inputSwitch>
						</td>
                        <td>
							<button pButton pRipple label="Ver" (click)="selectRM(resolucion.id)" icon="pi pi-eye" class="p-button-success" ></button>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">No se encontro Resoluciones.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Cargando resoluciobnes. Espere por favor.</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>

	</div>

    @if(selectedRM) {
    <div class="col-12 md:col-12" > 
        <div class="card">
            <h5>Detalle de Malla {{adasd}}</h5>
            <p-accordion>
                <p-accordionTab header="EPA" class="line-height-3 m-0">

                    
                </p-accordionTab>
                <p-accordionTab header="ESA" class="line-height-3 m-0">
                   
                </p-accordionTab>
                <p-accordionTab header="ETA" class="line-height-3 m-0">
                    
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    }


</div>